* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*tried to get rid of this, but am not sure that was a good idea, could not figure out how to recreate what it accomplished without it*/
body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}


/*doesn't need the header class here since h1 is only used once*/
h1 {
    display: inline-block;
    font-size: 48px;
}


/*removed the .header h1 as it was unnessary since the affected element has its own class, which I changed to an ID since this is the only time it is used*/
#seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


/*removed the header class, as it was redundant. only one list on the page, so this is fine*/
ul {
    list-style-type: none;
}

/*like the ul element above, only list it as li since these are the only list items.*/
li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


/*below is the large photo of the people meeting*/

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*below is the main section, removed the class since it was defining the same elements as the main tag*/

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

#float-right {
    float: right;
    margin-left: 25px;
}

/*changed to an ID since it doesn't need to be a class*/

#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*doesn't need to be a class, changed to an ID. the three ids below had classes and ids. redundant.*/

#search-engine-optimization img {
    max-height: 200px;
}

#search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#online-reputation-management img {
    max-height: 200px;
}

#online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#social-media-marketing img {
    max-height: 200px;
}

#social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*below is the side bar, the class defining this content was redundant and unnecessary*/

article {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* originally used with classes, however it repeated much of the same info and code, so we can combine them into these 3 sets of code. This encapsulates the side bar*/

aside {
    margin-bottom: 32px;
    color: #ffffff;
}

aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*below is the footer, changed this to a regular footer element and removed the class*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}